# Secrets - for local (non-GitHub) actions
TF_STATE_BUCKET="fill_me"
PROJECT_ID="fill_me"
GOOGLE_BACKEND_CREDENTIALS='fill_me'
GOOGLE_APPLICATION_CREDENTIALS='fill_me'
GOOGLE_ENCRYPTION_KEY='fill_me'
