# Secrets - for local (non-GitHub) actions
TF_STATE_BUCKET="fill_me"
GOOGLE_BACKEND_CREDENTIALS='fill_me'
GOOGLE_CREDENTIALS_DEV="fill_me"
GOOGLE_CREDENTIALS_PROD="fill_me"
GOOGLE_ENCRYPTION_KEY='fill_me'
