# Secrets - for local (non-GitHub) actions
TF_STATE_BUCKET="fill_me"
GOOGLE_BACKEND_CREDENTIALS='fill_me'
GOOGLE_CREDENTIALS_DEV="./terraform-sa-key-dev.json"
GOOGLE_CREDENTIALS_PROD="./terraform-sa-key-prod.json"
GOOGLE_ENCRYPTION_KEY='fill_me'
CLOUDFLARE_API_TOKEN_DEV='fill_me'
CLOUDFLARE_API_TOKEN_PROD='fill_me'
