controller:
  ingressClass: ngx
  service:
    type: ClusterIP
    annotations:
      cloud.google.com/neg: '{"exposed_ports": {"80":{"name": "${project_id}-ingress-nginx-80"},"443":{"name": "${project_id}-ingress-nginx-443"}}}'
