controller:
  ingressClass: ngx
  service:
    type: ClusterIP
    annotations:
      cloud.google.com/neg: '{"exposed_ports": {"80":{"name": "${project_id}-nginx-ingress-80"},"443":{"name": "${project_id}-nginx-ingress-443"}}}'
